%h1 Sign in

.row
  .span6.offset3
    = form_tag sessions_path do
      .field
        = label_tag :email
        %br/
        = text_field_tag :email, params[:email]
      .field
        = label_tag :password
        %br/
        = password_field_tag :password
      .actions
        = submit_tag "Sign in"

    %p
      New user?
      = link_to "Sign up now!", signup_path

