- provide :title, "Edit user"
%h1 Edit user
= form_for(@user) do |f|
  = render 'shared/error_messages', object: f.object
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :email
    %br/
    = f.text_field :email
  .field
    = f.label :password
    %br/
    = f.password_field :password
  .field
    = f.label :password_confirmation, "Confirmation"
    %br/
    = f.password_field :password_confirmation
  .actions
    = f.submit "Update"
%div
  = gravatar_for(@user)
  %a{ :href => "http://gravatar.com/emails" } change
