= provide(:title, 'Sign up')
%h1 Sign up
= form_for(@user) do |f|
  = render 'shared/error_messages', object: f.object
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :email
    %br/
    = f.text_field :email
  .field
    = f.label :password
    %br/
    = f.password_field :password
  .field
    = f.label :password_confirmation, "Confirm Password"
    %br/
    = f.password_field :password_confirmation
  .actions
    = f.submit "Sign Up"
