- provide :title, @user.name
.container-fluid
  .row-fluid
    = render 'layouts/toolbar'
  .row-fluid
    .span3
      = render 'layouts/nav_left'
    .span6
      .well
        - if @user.posts.any?
          %h3
            Posts (#{@user.posts.count})
          %ol.posts
            = render @posts
          = will_paginate @posts
    .span3
      = render 'layouts/nav_right'
      = render 'shared/user_info'
