%li{:id => feed_item.id}
  = link_to gravatar_for(feed_item.user), feed_item.user
  %span.user
    = link_to feed_item.user.name, feed_item.user
  %span.content= feed_item.content
  %span.timestamp
    #{time_ago_in_words(feed_item.created_at)} ago at #{feed_item.created_at}.
  - if current_user
    - if current_user?(feed_item.user) || current_user.admin?
      = link_to "delete", feed_item, method: :delete,
        confirm: "Are you sure you want to delete this post?",
        title: feed_item.content
