!!!
//.well
.container-fluid
  - if signed_in?
    .row-fluid
      = render 'layouts/toolbar'
  .row-fluid
    .span3
      = render 'layouts/nav_left'
    .span6
      .well
        = render 'shared/feed'
    .span3
      = render 'layouts/nav_right'
      - if signed_in?
        = render 'shared/post_form'

