/* Bootstrap variable redefinitions - must be done before we import b.s.*/
$primaryButtonBackground: #f00;
$navbarBackground: #fdf7ec;
$navbarBackgroundHighlight: #fffaf0;
$navbarHeight: 120px;
$grayMediumLight: #eaeaea;
$navbarText: #666666;
$navbarLinkColor: #666666;

@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

$bg-color: #fdf7ec;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 130px;
  background-image: image-url('bg-texture.png');
  background-repeat: repeat-x repeat-y;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.hero-unit {
  background-color: $bg-color;
}

.well {
  background-color: $bg-color;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: left;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 2px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a { 
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* posts */

.posts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color:#f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* users index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter
    }
  }
}
 
/* forms */

/* The following sections of code were superseded by the above custom code after
   switching to Bootstrap 2.0 from Blueprint CSS */

/* Pre-bootstrap code
$full-width: 710px;
$background-color: #eee6d8;
$section-color: #fdf7ec;
$link-color: #cc3401;
$visited-link-color: #069;
$corner-radius: 10px;

.container {
  width: $full-width;
}

body {
  background: $background-color;
}

header {
  padding-top: 20px;
  img {
     padding: 1em;
     background: white;
   }
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: $section-color;

  h1 {
    font-size: 200%;
  }
}

 */

/* Links */
/* more Pre-bootstrap code
a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $visited-link-color;
    text-decoration: underline;
  }

  &:visited {
     color: $visited-link-color;
   }
}
*/

/* Navigation */
/* more pre-bootstrap
nav {
  float: right;
  background-color: $section-color;
  padding: 0 0.7em;
  white-space: nowrap;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      display: inline-block;
      padding: 0.2em 0;

      a {
        padding: 0 5px;
        font-weight: bold;
        
        &:visited {
          color: $link-color;
        }
        
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
*/

/* Signup button */
/* pre-bootstrap
a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #cc3401;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}
*/

/* Round corners */
/* more pre-bootstrap
.round {
  -moz-border-radius: $corner-radius;
  -webkit-border-radius: $corner-radius;
  border-radius: $corner-radius;
}
*/


/* Footer */
/* more pre-bootstrap 
footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;

  nav {
    float: none;
  }
}
*/

/* User show page */
/* more pre-bootstrap
table.profile {
  width: 100%;
  margin-bottom: 0;

  img.gravatar {
    border: 1px solid #999;
    margin-bottom: -15px;
  }
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

div.field, div.actions {
  margin-bottom: 10px;
}

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;

  label {
    color: #fff;
  }
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
  }

  p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

ul.users {
  margin-top: 1em;
  li {
    list-style: none;
  }
}
*/
