%header.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to logo, root_path, id: "logo"
      %nav
        %ul.nav.pull-right
          %li= link_to "Home", root_path
          %li= link_to "Users", users_path
          - if signed_in?
            %li= link_to "Profile", current_user
            %li= link_to "Settings", edit_user_path(current_user)
          %li= link_to "Help", help_path
          - if signed_in?
            %li= link_to "Sign out", signout_path, method: :delete
          - else
            %li= link_to "Sign in", signin_path
