.well.sidebar-nav.left
  %ul.nav.nav-list
    %li.nav-header
    %li.active
      %a{:href => "#"} View All
    %li
      %a{:href => "#"} Astor
    %li
      %a{:href => "#"} Brewery District
    %li
      %a{:href => "#"} Cornole
    %li
      %a{:href => "#"} Brifterville
    %li
      %a{:href => "#"} Far Wesst
    %li
      %a{:href => "#"} Ghoulville
    %li
      %a{:href => "#"} Motown
    %li
      %a{:href => "#"} Showtown
    %li
      %a{:href => "#"} Zotown
