.btn-toolbar.center{"style" => "margin-top: 0px;"}
  .btn-group
    %a.btn.dropdown-toggle{"data-toggle" => "dropdown"}
      Feed
      %span.caret
    %ul.dropdown-menu
      %li
        %a{:href => "#"} Add New
  .btn-group
    %a.btn.dropdown-toggle{"data-toggle" => "dropdown"}
      Shots
      %span.caret
    %ul.dropdown-menu
      %li
        %a{:href => "#"} Add New
  .btn-group
    %a.btn.dropdown-toggle{"data-toggle" => "dropdown"}
      Events
      %span.caret
    %ul.dropdown-menu
      %li
        %a{:href => "#"} Add New
