!!!
%html
  %head
    %title= page_title
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application", "bootstrap-dropdown"
    = csrf_meta_tags
    = render 'layouts/shim'
  %body
    = render 'layouts/header'
    .container
      %section.round
        - flash.each do |key, value|
          = content_tag(:div, value, class: "flash #{key}")
        = yield
      = render 'layouts/footer'
      = debug(params) if Rails.env.development?
